apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: signalfx-otel
  namespace: ${argocd_namespace}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: platform
  destination:
    namespace: ${signalfx_otel_namespace}
    server: https://kubernetes.default.svc
  source:
    repoURL: ${gitops_repository_url}
    targetRevision: ${gitops_repository_branch}
    path: charts/signalfx-otel
    helm:
      valueFiles:
        - values.yaml
      values: |
        splunk-otel-collector:
          clusterName: ${signalfx_otel_cluster_name}
          splunkObservability:
            realm: ${signalfx_observability_realm}
          splunkPlatform:
            endpoint: ${signalfx_platform_endpoint}
          secret:
            create: false
            name: ${signalfx_otel_secret_name}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
