apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  aws_region: "${aws_region}"
  cluster_name: "${cluster_name}"
  spa_demo_host: "${spa_demo_host}"
  spa_demo_storage_size: "${spa_demo_storage_size}"
  spa_demo_s3_bucket_name: "${spa_demo_s3_bucket_name}"
  spa_demo_s3_role_arn: "${spa_demo_s3_role_arn}"
  aws_load_balancer_controller_role_arn: "${aws_load_balancer_controller_role_arn}"
  splunk_otel_cluster_name: "${splunk_otel_cluster_name}"
  splunk_observability_realm: "${splunk_observability_realm}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
type: Opaque
data:
  splunk_observability_access_token: ${splunk_observability_access_token_b64}
  splunk_platform_endpoint: ${splunk_platform_endpoint_b64}
  splunk_platform_token: ${splunk_platform_token_b64}
  spa_demo_db_endpoint: ${spa_demo_db_endpoint_b64}
  spa_demo_db_name: ${spa_demo_db_name_b64}
  spa_demo_db_username: ${spa_demo_db_username_b64}
  spa_demo_db_password: ${spa_demo_db_password_b64}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: platform-repo
  namespace: flux-system
spec:
  interval: 1m
  url: "${flux_repository_url}"
  ref:
    branch: "${flux_repository_branch}"
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: platform-root
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/flux
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: platform-repo
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets
        optional: true
